-----BEGIN CERTIFICATE-----
MIIDaDCCAlCgAwIBAgIJAKetSzK+JW6xMA0GCSqGSIb3DQEBCwUAMEIxCzAJBgNV
BAYTAlhYMRUwEwYDVQQHDAxEZWZhdWx0IENpdHkxHDAaBgNVBAoME0RlZmF1bHQg
Q29tcGFueSBMdGQwHhcNMTcwNTE2MTI1NjEyWhcNMjcwNTE0MTI1NjEyWjBCMQsw
CQYDVQQGEwJYWDEVMBMGA1UEBwwMRGVmYXVsdCBDaXR5MRwwGgYDVQQKDBNEZWZh
dWx0IENvbXBhbnkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA
kTsGZMtzgK1zAQaPp77eD1Ys/pYAP/TGnapo7gCQbjyzEylKq7rBdVJe9Jkwmbe/
tH5xovk3/pNJ4olUjelENrjGnzpuDLcj8IfovtugStSS912FjNRvGa5lZwuNv8/4
5nGeyARrs0zHndwOrz7HNIuYmkQa/ZdJ37r0p9ppP0ZDviJqqsGovpVwxkDSGTv+
pdK8C9uT3sZrr45i0VIeKrJkQ6Eq6Q1SghFIyMoEq+T8ECNVplkbfw4XtkESILvi
r7QtnZlYaXHQRRwDe8jckelozrraqnTXZVNo9Yxg/Q9oioeuUk9Nnw8bJqQ1mb/x
0sFtk5RJdR27oRjYbEAJPwIDAQABo2EwXzAPBgNVHREECDAGhwQK//8MMB0GA1Ud
DgQWBBQrzh6lxegwaUuaPI5ImsWGk6RQGzAfBgNVHSMEGDAWgBQrzh6lxegwaUua
PI5ImsWGk6RQGzAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQBH4PF+
gyp/4KTV7POkjhw8LH1GTk2wX2ZkbaYyvRbAZuDr6zMybk1PlwwDv/gkZwBQs0Gl
GEM7lthX0HYWr7CvLL8CPO21vBdH092/giNXe/2DoS4MR3bDRee3QJ5lg24WJ9GX
va7fSur9eumeqhcufl6M5LJcS7gfNOSuQIjTNzide6a3ZL+50cxrbz7kjKNksT3J
QbCC0R0yK16i/xfBl66CvrKRI/ogrMdr3CVgAF+BgPOT3YXSFU+nyG2aViEmoAEt
FUJ9tLweN8sz24GfZpYsv7bcSfMJlxFZYnRuqn0FCeqOvpcikH0aQAwoOERNw/5p
F5z6qtNaGOZ1hkSp
-----END CERTIFICATE-----
